:root {
  --page-bg-color: #000000;
  --page-text-color: #ffffff;
}

html, body {
  background-color: var(--page-bg-color);
  color: var(--page-text-color);

  height: 100%;
  margin: 10px 0 0;
  font-size: 100%;
}

.container > * {
  display: flex;


  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.container {

}

nav {

}

#banner {
background-color: gray;
}

#about {

}

#experience {
background-color: gray;
}

#projects {

}

#contact {
background-color: gray;
}

footer {

}
